<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <script type="text/javascript" src="https://mbdxdodemo.my.salesforce.com/canvas/sdk/js/51.0/canvas-all.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />

    <!-- <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial;
        }
        
        body {
            padding: 0px;
            background: #f6f3f7;
        }
        
        h1 {
            display: block;
            width: 100%;
            background: #64e0ef;
            height: 55px;
            padding-left: 10px;
            color: #fff;
            font-size: 20px;
            line-height: 55px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
            box-sizing: border-box;
            text-align: center;
        }
        
        table {
            width: 100%;
            min-width: 500px;
            border-collapse: collapse;
            font-weight: bold;
            color: #6b6b6b;
        }
        
        thead {
            background-color: rgba(29, 150, 178, 1);
            border: 1px solid rgba(29, 150, 178, 1);
            font-weight: normal;
            text-align: center;
            color: white;
        }
        
        tr {
            height: 50px;
            text-align: center;
        }
        
        td {
            box-sizing: border-box;
            text-align: center;
        }
    </style> -->
</head>

<body>
    <div>
        <h1>Product Manangement Node Js Heroku Integration </h1>
       
        <table>
            <thead>
                <tr>
                    <th>Item Name </th>
                    <th>Master Price </th>
                    <th>Discount </th>
                    <th>Description </th>
                    <th>Approval </th>
                    <th>Image </th>
    
    
                </tr>
            </thead>
            <tbody>
                <tr>
                  
                    <td>Volt X1</td>
                    <td>$1200.00</td>
                    <td>$120.00</td>
                    <td>Affordable beginner level commuter.</td>
                    <td>Yes</td>
                    <td><img src="https://s3-us-west-1.amazonaws.com/sfdc-demo/ebikes/voltx1.jpg" width="150" height="200"/></td>
    
                </tr>
                <tr>
                    
                    <td>Electra X1</td>
                    <td>$4000.00</td>
                    <td>$400.00</td>
                    <td>Enthusiast level Mountain Bike.</td>
                    <td>No</td>
                    <td><img src="https://s3-us-west-1.amazonaws.com/sfdc-demo/ebikes/electrax1.jpg" width="150" height="200"/></td>
    
    
    
                </tr>
                <tr>
                    
                    <td>Dynamo X1</td>
                    <td>$7000.00</td>
                    <td>$70.00</td>
                    <td>Racer level Mountain Bike.</td>
                    <td>No</td>
                    <td><img src="https://s3-us-west-1.amazonaws.com/sfdc-demo/ebikes/dynamox1.jpg" width="150" height="200"/></td>
                </tr>
    
    
    
            </tbody>
        </table>
    </div>


</html>
